@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

h1 {
    color: #0288d1;
    font-size: 2.5rem;
    margin-bottom: 20px;
    z-index: 3;
    text-align: center;
}

#resultaat {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.25rem;
    max-width: 600px;
    text-align: center;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

button {
    position: relative;
    background-color: #0288d1;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; 
}

button:hover {
    background-color: #0277bd;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 4px solid rgba(70, 130, 180, 0.2); 
    border-top: 4px solid #3498db; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin-left: 25px; 
}

.highlight {
    color: #0288d1;
    font-weight: bold;
}

#namenGenerator {
    position: relative;
    margin-bottom: -35px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#randomNaam {
    position: relative; 
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    padding: 10px 20px; 
    background-color: #f0f0f0; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
    opacity: 0; 
    transition: opacity 0.5s ease; 
    z-index: 2; 
    top: -60px; 
    left: 50%; 
    transform: translateX(-50%);
    margin-top: 0px;
}

.hidden {
    display: none;
}

.selectBox {
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #0288d1;
    background-color: #fff;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    position: relative; 
}

.selectBox:focus {
    outline: none;
    border-color: #0277bd;
    box-shadow: 0 0 0 2px rgba(2, 136, 209, 0.2);
}

.selectBox option {
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.selectBox option:hover {
    background-color: #f0f0f0;
}

.selectBox option:focus {
    outline: none;
    background-color: #f0f0f0;
}

@media (max-width: 800px) {
    h1 {
        font-size: 2rem;
        text-align: center;
    }

    * {
        padding: 15px;
    }

    #resultaat {
        font-size: 1rem;
    }
    .highlight {
        font-size: 1.25rem;
    }
    button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}
